<div>
    <h3 style="text-align: center;">
      ITSC Admin Server
    </h3>
  
    <form ng-submit="procesar(accion_seleccionada)" class="container">
  
      <div class="form-row">
        <div class="form-group">
          <label>Seleccione Acción</label>
            <select 
                class="form-control" required 
                ng-model="accion_seleccionada" 
                ng-options="accion as accion for accion in acciones">
                <option value=""></option>
            </select>
        </div>

      </div>
  
      <div class="form-row">
        <div class="form-group col-md-8">
          <button type="submit" class="btn btn-warning">Ejecutar</button>
          <button type="reset" ng-click="cancelar()" class="btn btn-light">Cancelar</button>
        </div>
      </div>
    </form>
  
    <p></p>
    <p></p>
    <div style="text-align: left;">
     
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Seleccionar Servidor </h3>     
        </div>
        <div class="panel-body" style="text-align: center;">
          <input type="text" autofocus placeholder="Filtrar servidor" style="text-align: left; margin: 5px;width: 250px;" ng-model="filtro_servidor.name" >
          <div>
              <button ng-repeat="server in servidores | orderBy : ['name'] | filter:filtro_servidor" ng-click="seleccionar(server)" style="text-align: left; margin: 5px;width: 250px;" ng-class="server.check ? 'btn btn-warning' : 'btn'"> 
                  <div style="font-weight: bold;">{{$index + 1}}: {{server.name}}</div>
              </button>
          </div>  
        </div>      
      </div>
  
  </div>

  <div class="modal fade" id="resultados_admin_modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
            <h5>Resultado</h5>               
        </div>

        <div class="modal-body">
            <p>STDOUT</p>
            <pre>
              {{resultado.stdout}}
            </pre>
            <p>STDERR</p>
            <pre>
              {{resultado.stderr}}
            </pre>
        </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
            
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->