<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>ITSC S.A Web APPs  </title>

</head>

<body >
    <!--<form method="post" enctype="multipart/form-data" action="/savefile" >
        <table >

            bundlefile
            <input accept="jar|war" name="file_jar_tecnico" value="" type="file">    
            
            <button type="submit">Enviar</button>
    </form>-->

    <form onsubmit="enviar(); return false;">
        <input id="archivo" required type="file">
        <button type="submit"> Enviar archivo </button>
    </form>

    <script>
        async function enviar () {
            try {
                var url = new URL('http://localhost:3000/savefile')
                url.search = new URLSearchParams({
                    server: 'itsc',
                    foo: "bar"
                })
                var data = new FormData()
                data.append('file_jar_tecnico', document.getElementById('archivo').files[0])

                var result = await fetch(url, {
                    method: 'POST',
                    body: data
                })

                var resultado = await result.text()

                if (result.ok) {
                    console.log(resultado)
                    alert("Subido con exito")
                } else {
                    console.log(resultado)
                    alert("Error")
                }
                
            } catch (e) {
                console.log("error", e)
            }

        }
    </script>
</body>

</html>
